    @media screen and (max-width: 1025px) {
        .container {
            margin: 0 auto;
            max-width: 984px;
        }
        .section-title {
            font-size: 50px;
        }
        /*               Section Welcome                */
        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 130px;
        }
        #welcome {
            height: 565px;
        }
        .welcome-position {
            height: 565px;
        }
        .welcome-section-left h2 {
            margin: 0;
            padding-top: 50px;
            padding-left: 0;
        }
        .welcome-section-left p {
            font-size: 24px;
            margin: 0;
            padding-top: 25px;
            padding-bottom: 50px;
        }
        .welcome-section-left button {
            width: 300px;
            height: 60px;
            font-size: 20px;
        }
        .monalisa {
            width: 700px;
            height: 525px;
        }
        .welcome-pagination-container input {
            font-size: 20px;
        }
        .welcome-pagination-container {
            width: 700px;
            height: 100px;
        }
        .welcome-pagination-container input:last-of-type {
            margin-right: 10px;
        }
        .welcome-pagination-container input:first-of-type {
            margin-left: 220px;
        }
        .welcome-pagination-container button {
            width: 10px;
            height: 10px;
            margin-left: 22px;
        }
        /*                   Section Visiting                  */
        #visiting h2 {
            padding-bottom: 10px;
            margin-top: 75px;
        }
        .visiting-card img {
            width: 330px;
            height: 215px;
        }
        .visiting-card-flex {
            gap: 60px 110px;
            margin-top: 60px;
            padding-bottom: 75px;
            padding-left: 105px;
        }
        .visiting-card h3 {
            line-height: 31px;
            font-size: 28px;
            letter-spacing: 0.03em;
            font-style: normal;
            font-weight: normal;
        }
        /*                    Section Explore                   */
        #explore h2 {
            /* padding-bottom: 15px; */
            margin-top: 35px;
        }
        .explore-information p {
            font-size: 20px;
            margin: 0;
        }
        .explore-information p {
            width: auto;
            font-size: 20px;
            line-height: 35px;
            height: auto;
        }
        /* .explore-information p:first-of-type {
        margin-top: 70px;
    } */
        .explore-information p:last-of-type {
            display: none;
        }
        .explore-container img {
            margin-left: 130px;
            padding-top: 90px;
            padding-bottom: 75px;
            width: 720px;
            height: 670px;
        }
        /*                     Section Video                     */
        .video-h2 {
            margin-bottom: 30px;
        }
        .video-head-text p {
            display: none;
        }
        /* .video-head-text h2 {
        margin-bottom: 10px;
    } */
        .video-player {
            height: 445px;
            width: 100%;
        }
        .poster {
            height: 444px;
            /* width: 984px; */
        }
        .control-panel {
            height: 60px;
        }
        .control-panel img {
            width: 70%;
        }
        .progress {
            height: 6px;
            width: 50%;
        }
        .progress.volume {
            width: 155px;
        }
        .progress::-webkit-slider-thumb {
            width: 15px;
            height: 15px;
        }
        .video-list iframe {
            width: 300px;
            height: 170px;
        }
        .video-list {
            padding-top: 40px;
            height: auto;
        }
        .video-list-carousel img {
            width: 12px;
            margin-right: 12px;
        }
        .buttonplay {
            position: absolute;
            left: 42%;
            top: 34%;
        }
        .buttonplay img {
            width: 100%;
        }
        /*                       Section Gallery                    */
        .gallery-h2 {
            margin-top: 50px;
        }
        .gallery-column {
            gap: 36px 24px;
            margin-top: 110px;
        }
        .gallery-column img {
            width: 304px;
        }
        .gallery-column:nth-child(2) {
            margin-top: 60px;
        }
        /*                         Section Bye Tickets                   */
        .tickets-h2 {
            padding-bottom: 12px;
            margin-bottom: 0;
        }
        .tickets-container img {
            padding-top: 50px;
            width: 700px;
            height: 440px;
        }
        .ticket-type {
            display: none;
        }
        .ticket-amount h4 {
            text-align: left;
            margin-right: 0;
        }
        .ticket-amount {
            padding-left: 0;
            /* padding-right: 30px; */
        }
        .ticket-amount h4 {
            padding-bottom: 20px;
            padding-top: 50px;
            padding-left: 25px;
        }
        .ticket-amount h4:last-of-type {
            padding-top: 30px;
            padding-bottom: 60px;
            font-size: 28px;
            letter-spacing: 1.65px;
        }
        .ticket-amount p {
            padding-right: 50px;
        }
        .ticket-amount p:last-of-type {
            padding-top: 20px;
        }
        .ticket-amount div {
            width: 170px;
            height: 45px;
        }
        .button-buy {
            margin-top: 0;
            margin-left: 20px;
        }
        /*                              Section Contacts                      */
        .contacts-h2 {
            padding-bottom: 13px;
            margin-top: 85px;
        }
        .contacts-container h4 {
            width: 200px;
            font-size: 24px;
            margin-top: 15px;
            margin-left: 0px;
            margin-bottom: 30px;
        }
        .contacts-container p {
            font-size: 20px;
            width: 280px;
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 10px;
        }
        .contacts-container p:first-of-type {
            padding-top: 0px;
            /* width: 230px; */
        }
        /*                              Section Footer                         */
        footer {
            height: 368px;
        }
        .footer-container {
            height: 243px;
        }
        .brand.footer {
            margin-right: 45px;
            height: 31px;
            margin-top: 60px;
        }
        .nav-footer li {
            list-style: none;
            margin-bottom: 30px;
        }
        .nav-footer {
            display: flex;
            margin-top: 65px;
            width: 313px;
        }
        .nav-footer ul:last-child {
            margin-left: 90px;
        }
        .nav-footer {
            margin-left: 0;
        }
        .social-networks {
            display: flex;
            margin-left: 90px;
            gap: 30px;
            margin-top: 0;
        }
        .social-networks img {
            margin-top: 150px;
        }
        .footer-rsshool {
            padding-top: 50px;
        }
        /*                     burger                */
        .close-section {
            display: block;
        }
        .close-section-on {
            display: none;
        }
        .burger-section {
            display: none;
            position: absolute;
            padding-left: 55px;
            transition: .2s all linear;
        }
        .burger-section-on {
            display: block;
            position: absolute;
            padding-left: 55px;
            -webkit-animation-name: animate-left;
            -webkit-animation-duration: 0.4s;
            animation-name: animate-left;
            animation-duration: 0.4s;
        }
        @keyframes animate-left {
            from {
                left: -300px;
                opacity: 0
            }
            to {
                left: 0;
                opacity: 1
            }
        }
        .burger-on {
            width: 50px;
            height: 50px;
            cursor: pointer;
            background: url(assets/svg/close2.svg) no-repeat center;
        }
        .burger-off {
            display: block;
            width: 50px;
            height: 50px;
            cursor: pointer;
            background: url(assets/svg/menu2.svg) no-repeat center;
        }
        .burger-menu p {
            font-family: "Roboto";
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 2px;
            color: #FFFFFF;
            padding-top: 0;
            padding-bottom: 25px;
        }
        .burger-menu :first-child p {
            padding-top: 35px;
        }
        .burgerclass img {
            height: 23px;
            width: 10px;
        }
        .burgerclass p {
            display: flex;
            width: 122px;
            justify-content: space-between;
        }
        nav {
            display: none;
        }
        /*_____________________*/
        .booking-tickets {
            display: flex;
            padding: 75px 10px 10px 10px;
        }
        .modal-content {
            width: 1024px;
        }
        .price-ticket input {
            text-align: center;
        }
    }
    
    @media screen and (max-width: 920px) {
        .video-list iframe {
            width: 250px;
            height: 130px;
        }
    }
    
    @media screen and (max-width: 1150px) {
        .ticket-type {
            display: none;
        }
    }
    
    @media screen and (max-width: 880px) {
        .ticket-amount {
            padding-right: 0;
        }
        .social-networks {
            position: absolute;
            margin-left: auto;
            gap: 30px;
            padding-left: 20px;
            padding-top: 50px;
        }
        .explore-container img {
            margin-left: 0px;
            padding-top: 0px;
            padding-bottom: 0;
            width: 720px;
            height: 720px;
        }
        .tickets-container img {
            padding-top: 20px;
            width: 444px;
            height: 340px;
        }
    }
    
    @media screen and (max-width: 1340px) {
        .ticket-type {
            display: none;
        }
    }